@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
* { 
    font-family: "Noto Sans KR", sans-serif; 
    box-sizing: border-box; 
    outline: none; 
    color: #000;
}

html {
    font-size: 13px;
} 

body { 
    margin: 0;
}

ul, ol {
    list-style: none;
}

ul, ol, li, dl, dt, dd {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

img {
    border: 0;
}

/* 헤더 영역 S */
header .site-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 66px;
    border-bottom: 1px solid #e6e6e6;
    padding: 0 15px;
}

header .logo img {
    height: 34px;
}

header .site-top i {
    font-size: 2.1rem;
}

header .site-top .left a {
    margin-right: 10px;
}

header .site-top .right a {
    margin-left: 10px;
}

/* 헤더 영역 E */
