@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+KR:wght@100..900&display=swap');

* {
    color: #000;
    box-sizing: border-box;
    outline: none;
    font-family: "Noto Sans KR", sans-serif;
}

html {
    font-size: 13px; /*1rem*/
    background: #f8f8f8;
}

/* 스타일 초기화 S */
body {
    margin: 0 auto;
    max-width: 720px;
    min-width: 360px;
    background: #fff;
}

ul,ol, dl, dt, dd { 
    margin: 0;
    padding: 0;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    border: 0;
}
/* 스타일 초기화 E */

/* 공통 스타일 S */
.montserrat {
    font-family: "Montserrat", sans-serif;
}

h3 {
    font-size: 1.538rem;  /*대략 20px*/
    color: #212121;
    text-align: center;
    line-height: 1;
    padding: 20px;
}

/* 공통 스타일 E */

/* 헤더 영역 S */
header .site-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 66px;
    border-bottom: 1px solid #e6e6e6;
    padding: 0 15px;
}

header .logo img {
    height: 34px;
}

header .site-top i {
    font-size: 2rem;
}

header .site-top .left i {
    margin-right: 10px;
}

header .site-top .right i {
    margin-left: 10px;
}

header nav {
    display: flex;
    height: 44px;
}

header nav a {
    flex-grow: 1;
    width: 0;
    text-align: center;
    line-height: 44px; /* height: 44px; 와 동일하게 맞춰주면 위에 붙어있던것이 가운데로 옴.*/
}

/* 헤더 영역 E */

/* 메인 배너 영역 S */
.main-banner img {
    width: 100%;
    display: block; /* 하단쪽 여백 x */
    /*img -> 하단쪽 외부여백생김, img는 inline이기 때문*/
}

/* 메인 배너 영역 E */

/* 서브 메뉴 영역 S */
.sub-menus {
    display: flex;
    flex-wrap: wrap; /*줄개행*/
    /*보더 전체를 주고, 좌우를 삭제*/
    border: 10px solid #ededed; 
    border-left: 0;
    border-right: 0;
}

.sub-menus a {
    width: calc(100% / 3); /*띄어쓰기해야 연산 가능*/
    text-align: center;
    height: 50px;
    line-height: 50px;
    font-weight: 500;
    font-size: 1.077rem;  /*대략 14px*/
    border-top: 1px solid #ededed;
    border-left: 1px solid #ededed;
}

/* 맨 위줄에 있는 경계선 0 */
.sub-menus a:nth-of-type(1),
.sub-menus a:nth-of-type(2),
.sub-menus a:nth-of-type(3) { 
    border-top: 0;
}

/* 왼쪽에 있는 경계선 0 */
.sub-menus a:nth-of-type(3n+1) {
    border-left: 0;
}

/* 서브 메뉴 영역 E */

/* 서브 배너 영역 S */
.sub-banner {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.sub-banner a:nth-of-type(1) {
    width: 100%;
}

.sub-banner a:nth-of-type(2),
.sub-banner a:nth-of-type(3) {
    width: 50%; 
}

.sub-banner img {
    width: 100%; /* 없으면 크기자 설정되지 얺음, 크기가 달라짐. */
    display: block;
}
/* 서브 배너 영역 E */

/* 상품 목록 영역 S */
.products ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0 15px; /*전체에서 좌무만 마진있음*/
}

.products li {
    width: calc(100% / 2 - 8px); /*가각 8이 빠져서 아래에서 왼쪽마진 16을 뺼 수 있음*/
    margin-bottom: 30px;
}


.products li:nth-of-type(2n) {
    margin-left: 16px; /*짝수번 왼쪽 마진 넣음*/
}

.products .product-image img { /*화면에 이미지 체우기*/
    width: 100%; 
    display: block;
    border-radius: 10px; /*이미지 모서리 둥글게*/
}

.products .product-image {
    margin-bottom: 10px;
    display: block;
}

.products .product-price {
    font-size: 1.154rem; /*15px*/
}

.products .product-price .price {
    font-weight: 800; /*두껍게*/
    font-size: 1.2rem; /*18px*/
    letter-spacing: -1px; /*자간 -1*/
}

.products .product-name {
    color: #3e3d3c;
    font-size: 1.154rem;
    word-break: break-all; /*영문이다 숫자를 한 글자만 연속으로 사용하면 줄개행 안됨. word-break: break-all; 추가해서 줄개행시킴*/
}

.products .stars img { /*별크기*/
    height: 11px;
}

.products .no-of-review { /*리뷰글씨*/
    color: #a7a7a7;
    margin-left: 6px;
    font-size: 0.923rem;  /*12px*/
}

.products .review-rate {  /*리뷰 전체의 상하단 여백*/
    margin: 10px 0 2px;
}

.products .more-button {
    font-size: 1.154rem;
    color: #666;
    border: 1px solid #b1b1b1;
    font-weight: bold;
    background: #fff;
    padding: 8px 0; /* 상하여백 */
    /*버튼이 화면에 꽉체우기위해 block + width 100% */
    display: block;
    width: 100%;
    cursor: pointer;
}

/* 상품 목록 영역 E */

/* 하단 배너 영역 */
.bottom-banner {
    width: 100%;
    display: block;
    margin: 10px 0 20px;  /*상하여백*/
}

/* 푸터 영역 S */
footer {
    background: #f9f9f9;
    padding: 25px 0 80px; /* 위아래 내부여백*/
    margin-top: 25px; /* 위쪽 외부여백*/
}

footer .logo img {
    width: 79px;
    margin: 0 auto 12px; /*좌우 자동, 아래여백*/
    display: block;
}

footer .center-phone {
    border: 2px solid #2a2a2a;
    border-radius: 20px; /*모서리 라우드*/
    height: 35px;
    line-height: 31px; /*블럭 가운데정렬을 위해 보더사이즈만큰 뺴고*/
    width: 190px;
    display: block;
    margin: 0 auto 7px; /*좌우 자동, 아래여백*/
    font-size: 1.538rem;
    font-weight: 800;
    text-align: center;
}

footer .center-phone img {
    height: 16px;
    vertical-align: middle; /*이미지에서 위치 가운데 정렬 */
}

footer .bank-info {
    font-size: 0.923rem; 
    color: #2a2a2a;
    text-align: center;
}

footer .bank-info span {
    font-size: 1rem;
    font-weight: 600;
}

footer .company-info {
    text-align: center;
    margin: 3px 0 8px;
    margin-bottom: 8px;
    font-size: 0.923rem;
    font-weight: 600;
    color: #878787;
}

footer .company-info img {
    width: 15px;
    vertical-align: middle;
}

footer .links {
    text-align: center; 
}

footer .links a {
    font-size: 0.846rem; 
    padding: 0 11px; /*좌우여백*/
    color: #878787;
    position: relative; /*현재 요소에 위치함(상위)*/
}

/*가상 선택자 footer .links a::after */
footer .links a:not(.last)::after { /*not(.last) 마지막꺼만 뺴고*/
    content: ''; /* ' ' 공백 추가 없을시 가상선택자 추가 안됨*/
    display: block;
    width: 1px;
    height: 8px;
    background: #878787;
    position: absolute; /*문서 왼쪽 위치(하위: 상위요소의 상대배치속성)*/
    right: 0;
    top: 4px;
}
/* 푸터 영역 E */