@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+KR:wght@100..900&display=swap');

* {
    color: #000;
    box-sizing: border-box;
    outline: none;
    font-family: "Noto Sans KR", sans-serif;
}

html {
    font-size: 13px; /*1rem*/
    background: #f8f8f8;
}

/* 스타일 초기화 S */
body {
    margin: 0 auto;
    max-width: 720px;
    min-width: 360px;
    background: #fff;
}

ul,ol, dl, dt, dd { 
    margin: 0;
    padding: 0;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    border: 0;
}
/* 스타일 초기화 E */

/* 공통 스타일 S */
.montserrat {
    font-family: "Montserrat", sans-serif;
}

h3 {
    font-size: 1.538rem;  /*대략 20px*/
    color: #212121;
    text-align: center;
    line-height: 1;
    padding: 20px;
}

/* 공통 스타일 E */

/* 헤더 영역 S */
header .site-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 66px;
    border-bottom: 1px solid #e6e6e6;
    padding: 0 15px;
}

header .logo img {
    height: 34px;
}

header .site-top i {
    font-size: 2rem;
}

header .site-top .left i {
    margin-right: 10px;
}

header .site-top .right i {
    margin-left: 10px;
}

header nav {
    display: flex;
    height: 44px;
}

header nav a {
    flex-grow: 1;
    width: 0;
    text-align: center;
    line-height: 44px; /* height: 44px; 와 동일하게 맞춰주면 위에 붙어있던것이 가운데로 옴.*/
}

/* 헤더 영역 E */

/* 메인 배너 영역 S */
.main-banner img {
    width: 100%;
    display: block; /* 하단쪽 여백 x */
    /*img -> 하단쪽 외부여백생김, img는 inline이기 때문*/
}

/* 메인 배너 영역 E */

/* 서브 메뉴 영역 S */
.sub-menus {
    display: flex;
    flex-wrap: wrap; /*줄개행*/
    /*보더 전체를 주고, 좌우를 삭제*/
    border: 10px solid #ededed; 
    border-left: 0;
    border-right: 0;
}

.sub-menus a {
    width: calc(100% / 3); /*띄어쓰기해야 연산 가능*/
    text-align: center;
    height: 50px;
    line-height: 50px;
    font-weight: 500;
    font-size: 1.077rem;  /*대략 14px*/
    border-top: 1px solid #ededed;
    border-left: 1px solid #ededed;
}

/* 맨 위줄에 있는 경계선 0 */
.sub-menus a:nth-of-type(1),
.sub-menus a:nth-of-type(2),
.sub-menus a:nth-of-type(3) { 
    border-top: 0;
}

/* 왼쪽에 있는 경계선 0 */
.sub-menus a:nth-of-type(3n+1) {
    border-left: 0;
}

/* 서브 메뉴 영역 E */

/* 서브 배너 영역 S */
.sub-banner {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.sub-banner a:nth-of-type(1) {
    width: 100%;
}

.sub-banner a:nth-of-type(2),
.sub-banner a:nth-of-type(3) {
    width: 50%; 
}

.sub-banner img {
    width: 100%; /* 없으면 크기자 설정되지 얺음, 크기가 달라짐. */
    display: block;
}
/* 서브 배너 영역 E */

/* 상품 목록 영역 S */
.products ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0 15px; /*전체에서 좌무만 마진있음*/
}

.products li {
    width: calc(100% / 2 - 8px); /*가각 8이 빠져서 아래에서 왼쪽마진 16을 뺼 수 있음*/
    margin-bottom: 30px;
}


.products li:nth-of-type(2n) {
    margin-left: 16px; /*짝수번 왼쪽 마진 넣음*/
}

.products .product-image img { /*화면에 이미지 체우기*/
    width: 100%; 
    display: block;
    border-radius: 10px; /*이미지 모서리 둥글게*/
}



/* 상품 목록 영역 E */